[submodule "references/bevy"]
	path = references/bevy
	url = git@github.com:bevyengine/bevy.git
[submodule "references/ImpatientProgrammerBevyRust"]
	path = references/ImpatientProgrammerBevyRust
	url = git@github.com:jamesfebin/ImpatientProgrammerBevyRust.git
[submodule "references/bevy-project-template-nixos-wayland"]
	path = references/bevy-project-template-nixos-wayland
	url = git@github.com:drxm1/bevy-project-template-nixos-wayland.git
